@charset "utf-8";
/*----------------------　ポートフォリオ(共通)　----------------------*/
html, body {
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	background-color: white;
}
#header-color {
	background: linear-gradient(to left, royalblue, lightblue);
	box-shadow: 2px 0 3px rgba(0,0,0,.2);
}
header div ul li a{
	color: #fff;
	font-size: 15px;
	font-weight: bold; 
}
.siteTitle {
	color: #fff;
	padding-top: 20px;
}
.nav-link {
	color: #fff;
}
.navList {
	padding: 0;
}
.headerIcon {
	padding: 0px;
	color: #fff;
}